{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>AR TRADICTIONS</title>
</head>

<body>
    <header class="mt-0 pt-0">
        <div class="bg-cover clearfix pt-3" id="Inicio">
            <h2 class="logo">DIA DE LOS MUERTOS</h2>
            <input type="text" id="nav-search" class="nav-search mx-auto" name="" class="form-control">
            <div class="ml-0 mr-0 pb-1">
                <nav class="navbar navbar-expand-md">
                    <button class="navbar-toggler ml-auto" data-target="#my-nav" data-toggle="collapse"
                        aria-controls="my-nav" aria-expanded="false" onclick="myFunction(this)"
                        aria-label="Toggle navigation">
                        <span class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span>
                    </button>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {%for imagen in Imagenes %}
                <div class="col-sm">
                    <img src="{{imagen}}" class="rounded">
                    <br>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Resultados de análisis</h3>
                {% for data in Datas %}
                {% for dato in data %}
                <p>{{dato}}</p>
                {% endfor %}
                {%endfor%}
                {%endfor%}
            </div>
        </div>
    </div>
    <!--<div class="row ml-2 mr-0">
        <div class="col-md-12 pr-0">
            <div class="card">
                {%for imagen in Imagenes%}
                <div style="height: 50%;">
                    <img src="{{imagen}}" class="rounded">
                </div>
                <br>
                {%endfor%}
            </div>
        </div>
    </div>-->

    <footer class="container-fluid pt-5">
        <div class="container">
            <h2 class="logo text-center">AR TRADICTIONS</h2>
            <nav class="nav nav-fill mx-auto mt-5">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/alanrobertho.deleon" target="_blank"><i
                            class="fab fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/alan.roberto17/?hl=es-la"><i
                            class="fab fa-instagram"></i></a>
                </li>
            </nav>
        </div>
        <div class="copyright mt-4">
            <p class="text-center">&copy; 2020 <a href="#" class="text-white">AR Tradictions</a>. Desarrollado
                by <a href="https://www.facebook.com/alanrobertho.deleon" target="_blank" class="text-white">Alan</a>.
            </p>
        </div>
    </footer>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.12.0.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static'js/owl.carousel.min.js %'}"></script>
    <script src="{% static 'js/jquery.yu2fvl.js'%}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <body>


</html>